<app-date-pipe-examples></app-date-pipe-examples>
<app-uppercase-pipe-examples></app-uppercase-pipe-examples>
<app-lowercase-pipe-examples> </app-lowercase-pipe-examples>
<app-currency-pipe-examples></app-currency-pipe-examples>
<app-decimal-pipe-examples></app-decimal-pipe-examples>
<app-percent-pipe-examples></app-percent-pipe-examples>
<app-slice-pipe-examples></app-slice-pipe-examples>
<app-json-pipe-examples></app-json-pipe-examples>
<app-titlecase-pipe-examples></app-titlecase-pipe-examples>
<app-chaining-pipes-examples></app-chaining-pipes-examples>